# @author Sho Miyahara 2018

Execution:
  # Debug mode: true

Model: master/skeletonA7SF.model

# Work: master/skeletonDynamics
# Work: master/skeletonW3A4Dynamics

# Work: skeletonKinematics
Controller: master/skeletonA7/wall.controller
# Work: master/march
# Work: master/iterative/1leg_swing
# Work: master/opt/1leg_swing
# Work: master/non_opt/walkstep
# Work: master/iterative/walkstep0_01
# Work: master/opt/walkstep0_01
# Work: master/non_opt/1leg_swing
# Work: master/non_opt/walkingDS
# Work: master/iterative/updown

# Work: master/zeff

# Work: master/non_opt/straightWalk

  # Work: master/non_opt/testWalkHT
  # Work: master/non_opt/updown
  # Work: master/non_opt/testWalk

  # Work: master/non_opt/straightWalkToeoff
  # Work: master/non_opt/updownToeoff
  # Work: master/non_opt/testWalk

Output: master/skeletonA7/sample.output
