# @author Sho Miyahara 2018

execution:
  # debug mode: true

model: master/kinematics/skeletonA7.model
controller: master/kinematics/skeletonA7/velocity.controller
# controller: master/kinematics/skeletonA7/acceleration.controller
output: master/skeletonA7/kinematics.output
rlsSimulator: master/velocity.rlsSimulator
# rlsSimulator: master/acceleration.rlsSimulator
